# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\GoWork\go-zero-bootstrap\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
